#root {
  background-color: #cccccc;
  min-height: 968px;
}

hr {
  background-color: #a2a2a2;
}

iframe {
  width: 106vh;
  height: 54vh;
}

.input {
  background-color: #bdbdbd;
}

/* Room style */
.chat-room {
  overflow: auto;
  height: 424px;
  background-color: #b1b1b1;
  border-radius: 0.25em;
  margin-top: 6px;
  border: 2px solid #797878;
}

.control-btn {
  float: center;
  left: 36px;
  background-color: #cccccc;
}

.password-btn {
  margin-left: 8px;
  margin-top: 6px;
}

/* message style */
.message {
  background-color: #cccccc;
  border-radius: 5px;
}

.self-send {
  background-color: #6b948d;
  color: #e4d2d2;
}

.system-send {
  background-color: #7687a0;
  color: #e4d2d2;
}

.message:not(:last-child) {
  margin-bottom: 1rem;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

/* watch history style */
.history-video-author {
  font-size: small;
}

.history-item:hover {
  cursor: pointer;
}