#root {
  background-color: #cccccc;
  min-height: 968px;
}

hr {
  background-color: #a2a2a2;
}

iframe {
  width: 100vh;
  height: calc(100vh / 2.25);
}

::-webkit-scrollbar {
  Transform: rotate(180deg);
}

.input {
  background-color: #bdbdbd;
}

/* Room style */
.chat-room {
  overflow: auto;
  height: 376px;
  max-width: 308px;
  transform: rotate(180deg);
  background-color: #909090;
  border-radius: 0.25em;
  margin-top: 6px;
}

.control-btn {
  float: center;
  left: 36px;
  background-color: #cccccc;
}

.media {
  transform: rotate(180deg);
}