#root {
  background-color: #cccccc;
  min-height: 968px;
}

hr {
  background-color: #a2a2a2;
}

iframe {
  width: 100vh;
  height: calc(100vh / 2.25);
}

.input {
  background-color: #bdbdbd;
}

/* Room style */
.chat-room {
  overflow: auto;
  height: 436px;
  width: 71%;
  background-color: #b1b1b1;
  border-radius: 0.25em;
  margin-top: 6px;
  border: 2px solid #797878;
}

.control-btn {
  float: center;
  left: 36px;
  background-color: #cccccc;
}

.message {
  background-color: #cccccc;
  border-radius: 5px;
}

.self-send {
  background-color: #7687a0;
  color: #e4d2d2;
}

.message:not(:last-child) {
  margin-bottom: 1rem;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}